@import "tailwindcss";
@import 'tailwindcss';
@plugin "@iconify/tailwind4";

@font-face {
  font-family: 'SF_Pro';
  src: url('../fonts/SF-Pro-Text-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-VariableFont_wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('ttf');
}

:root {
  --c_principal: #eeba2c;

  --c_yellow_01: #be9423;
  --c_yellow_02: #775d16;

  --c_red_01: #ba0000;

  --c_black_01: #161616;
  --c_black_02: #212121;
  --c_black_03: #262626;

  --cf_black: #000000;
  --cf_white: #ffffff;

}

/* * {
  user-select: none;
} */

body {
  background: var(--c_black_01);
  font-family: Roboto;
}

.font-sfFont {
  font-family: SF_Pro;
}
.font-rFont {
  font-family: Rubik;
}
.font-roFont {
  font-family: Roboto;
}

.vzla-gradient {
  background-image: linear-gradient(to right, #ffc107 0%, #003cff 50%, #ff0019 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}