@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme {
  --font-mFont: "Montserrat", sans-serif;
  --font-rFont: "Rubik", sans-serif;
  --font-iFont: "Inconsolata", monospace;
}

:root {  
 --c_principal: #eeba2c;

  --c_yellow_01: #be9423;
  --c_yellow_02: #775d16;

  --c_red_01: #ba0000;

  --c_black_01: #161616;
  --c_black_02: #212121;
  --c_black_03: #262626;

  --c_black: #000000;
  --c_white: #ffffff;

  --shadow-white: 0px 20px 10px 0px rgba(255, 255, 255, 0.05);
}

body {
  background: var(--c_black_01);
  color: var(--cf_white);
}

.font-mFont { 
  font-family: var(--font-mFont);
}
.font-rFont { 
  font-family: var(--font-rFont);
}
.font-iFont { 
  font-family: var(--font-iFont);
}

.vzla-gradient {
  background-image: linear-gradient(to right, #ffc107 0%, #003cff 50%, #ff0019 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hr-custom {
  width: 96%;
  margin: 0 2% 1rem;
  height: 1px;
  border-radius: 75%;
  background: linear-gradient(var(--gradient-wallpaper-o));
}

.project-card {
  transition: opacity 0.4s ease, transform 0.4s ease;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.2; } 
}
.animate-blink {
  animation: blink 1.5s infinite;
}