---
import Header from "../layouts/Header.astro";
import Layout from "../layouts/Layout.astro";

import { $dict } from '../store/languageStore.ts'
const dict = $dict.get();
---

<Layout>
	<Header />
	<p data-i18n="title_aboutMe" class="text-red-400">
		{dict.title_aboutMe}
	</p>
</Layout>
