---

// Función de lenguaje
import { $dict } from '../store/languageStore.ts'
const dict = $dict.get()

// Estilos
const principalContainer            = "flex flex-col space-y-2 w-full"
---

<div class={principalContainer}>
  holi
</div>