---
import Layout from "../layouts/Layout.astro"
import ContainerLeft from "../layouts/ContainerLeft.astro"

// Estilos
const containerPrincipal  = "flex flex-row w-full min-h-dvh"
const containerLeftStyle  = "flex flex-row justify-between w-[40%] min-h-full p-4"
const containerRightSyle  = "flex w-[60%]"

---

<!-- TO-DO: Buscar optimización a nivel de SEO -->

<Layout>
  <div class={containerPrincipal}>
    <!-- Lado izquierdo -->
    <div class={containerLeftStyle}>
      <ContainerLeft />
    </div>

    <!-- Lado derecho -->
    <div class={containerRightSyle}>

    </div>
  </div>
</Layout>
