---
import Layout from "../layouts/Layout.astro"
import ContainerLeft from "../layouts/ContainerLeft.astro"
import Technologies from "./Technologies.astro"
import Projects from "./Projects.astro"
import ContainerRight from "../layouts/ContainerRight.astro"

// Estilos
const containerPrincipal  = "flex flex-col justify-start items-start lg:flex-row w-full"
const containerLeftStyle  = "lg:fixed flex flex-col justify-center items-center min-h-[100dvh] w-full lg:w-3/8 opacity-100"
const containerRightSyle  = "lg:absolute flex flex-col h-auto w-full lg:w-5/8 bg-[var(--colors-01)]/75 right-0"

---

<!-- TO-DO: Buscar optimización a nivel de SEO -->

<Layout>
  <div class={containerPrincipal}>
    <!-- Lado izquierdo -->
    <div class={containerLeftStyle}>
      <ContainerLeft />
    </div>

    <!-- Lado derecho -->
    <div class={containerRightSyle}>
      <!-- Falta el resumen -->
      
      <!-- Proyectos -->
      <ContainerRight
        containerId         = "container-1"
        containerTitle      = "project_title"
      >
        <Projects />
      </ContainerRight>/

      <!-- Tecnologías -->
      <ContainerRight
        containerId         = "container-2"
        containerTitle      = "technologies_title"
      >
        <Technologies />
      </ContainerRight>/
    </div>
  </div>
</Layout>
