---
import { generalContainerStyles } from '../Utils/generalContainerStyles.ts'
---

<div id="container-2" class={generalContainerStyles.containerStyles}>
  <div class={generalContainerStyles.subContainerStyles}>
    <p class={generalContainerStyles.containerTitles}>
      Tecnologías
    </p>
  </div>

  <div class={generalContainerStyles.subContainerStyles}>
    <p class="font-bold font-rFont text-[2rem] text-(--c_white)">
      Tecnologías
    </p>
  </div>
</div>