---
import Icons from './Icons.astro';
import { headerIcons } from './../Utils/containerStyles.ts';
---

<button id="lang-button" class={`${headerIcons} cursor-pointer`}>
  <Icons iconCode="Language" />
</button>

<script>
  import { currentLang } from '../store/languageStore';

  const button = document.querySelector('#lang-button');
  button?.addEventListener('click', () => {
    const newLang = currentLang.get() === 'es' ? 'en' : 'es';
    currentLang.set(newLang);
  });
</script>