---
import { type LanguageKey } from "../store/languageStore";

interface Props {
  postKeys: LanguageKey[];
  postSpeed?: number;
  postDelay?: number;
}

const {
  postKeys, 
  postSpeed = 100, 
  postDelay = 2000 
} = Astro.props;
---

<div class="font-iFont text-[2rem] text-(--c_white) flex items-center">
  <span class="text-(--c_principal)">{`> `}</span>
  <span id="typewriter-text" class="ml-2"></span>
  <span
    id="typewriter-data"
    data-post-keys={JSON.stringify(postKeys)}
    data-post-speed={postSpeed}
    data-post-delay={postDelay}></span>
  <span class="w-2 h-8 bg-(--c_white) ml-1 animate-blink"></span>
</div>

<script>
  import { initTypewriter } from "../Utils/Typewriter";

  document.addEventListener('astro:page-load', initTypewriter);
</script>