---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="@zael_aisa" />
    <meta name="copyright" content="@zael_aisa" />
		<meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=NO" />
		<title>Zael Aisa</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/styles/global.css">
		<ClientRouter />
	</head>
	<body>
    <slot />

		<script>
      import { initI18n } from "../Utils/i18nHelper"; 
      initI18n();
    </script>
	</body>
</html>
